html,
body {
    font-family: 'Kalam','SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
}

.developer-loading {
    margin-top: 100px;
    margin-left: 450px;
}

.self-loading {
    margin-top: 100px;
    margin-left: 350px;
}

.hobbies-loading {
    margin-top: 100px;
    margin-left: 80px;
}

@media only screen and (max-width: 768px) {
    .developer-loading {
        margin-left: 250px;
    }

    .self-loading {
        margin-left: 150px;
    }

    .hobbies-loading {
        margin-left: 40px;
    }
}